<section id="users">

  
  <div class="filter" ng-class="{show:filterOpen==true}" ng-controller="filterCtrl">
      <div class="filter-container">
        <form class="form">
  
          <div class="select-container">
  
            <select class="select" name="instrument"
              ng-model="filterInstrument" 
              ng-options="instrument as instrument.name for instrument in instruments"
              ng-change="filterInstrumentUpdate()">
              <option value="" disabled selected>Instrument</option>
            </select>
  
            <div class="select-selected">{{instrumentSelected}}</div>
  
          </div>
  
          <div class="select-container">
  
            <select class="select" name="musicStyle"
              ng-model="filterMusicStyle" 
              ng-options="musicStyle as musicStyle.name for musicStyle in musicStyles"
              ng-change="filterMusicStyleUpdate()">
              <option value="" disabled selected>Style Musical</option>
            </select>
  
            <div class="select-selected">{{musicStyleSelected}}</div>
  
          </div>
  
          <div class="btn-submit-container"><input type="submit" value="Filtrer" class="btn-submit" ng-click="filter(instrumentSelected, musicStyleSelected)"></div>
  
          <div class="btn-reset-container"><button class="btn-reset" ng-click="filterReset()">Réinitialiser</button></div>
  
        </form>
      </div>
  </div>
  



  <div id="users-list" class="users-users-list" ng-class="{'low-opa':filterOpen}">
   
   <div class="users-user" ng-repeat="i in users track by $index"><div class="users-list-container clearfix">
 
 
 
     <div class="user-avatar width-small pull-left" ng-click="goto('profil');editProfilId(users[$index].ID);">
 
       <img ng-src="{{users[$index].Avatar}}" class="user-list-avatar"alt="">
 
 
     </div>
 
 
     <div class="user-infos width-medium pull-left" ng-click="goto('profil'); editProfilId(users[$index].ID);">
 
       <h3 class="user-name">{{users[$index].Name}}</h3>
       <p ng-class="{hide:isTheSame(users[$index].Instrument_Favorit, '')}"><span class="ico-litle ico-litle-guitare"></span>{{users[$index].Instrument_Favorit}}</p>
       <p ng-class="{hide:isTheSame(users[$index].Style, '')}"><span class="ico-litle ico-litle-wave"></span>{{users[$index].Style}}</p>
 
     </div>
 
 
     <div class="user-distance-play pull-right index{{$index}}">
 
       <p class="user-distance">{{users[$index].Distance}} <span class="text-small text-low-opacity">km</span></p>
 
       <div class="user-btn-play-container"><div class="btn-play-pause" ng-click="play($index, users[$index].ID_Soundcloud)"></div></div>
 
       <div class="user-play-progress-bar-container">
 
         <div class="user-play-progress-bar">
           <div class="user-play-progress-bar-cache"></div>
           <div class="user-play-progress-bar-played"></div>
         </div>
 
       </div>
 
     </div>
 
   </div>
 
 </div>
 

 <div ng-repeat="log in infoslog track by $index">
  <p>{{$index}} - {{infoslog[$index].log}}</p>
 </div>

</section>