#users-list {

	@include transition(all, 0.3s, ease-in);

	&.low-opa {
		opacity: .3;
		@include transition(all, 0.3s, ease-in);
	}	
	

	.user-list-avatar {
		width: 56px;
		height: 56px;
		border-radius: 56px;
	}

}

